<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="CGI-exe" />
            <add name="CGI-exe" path="*.exe" verb="*" modules="CgiModule" scriptProcessor="C:\php\php-cgi.exe" resourceType="File" requireAccess="Execute" allowPathInfo="true" />
        </handlers>
    </system.webServer>
</configuration>
